/*default1.css*/

body {
  background-color: gray;
	min-width: 800px;
	font-family: sans-serif;
	width: 90%;
	margin: auto;
	margin-top: 10px;
}

#banner {
  padding: 1%;
  background-color: #303030;
	height: 75px;
	text-align: center;
}

#banner h1 {
  margin: 0px;
	color: rgb(179, 153, 93);
}

#menu {
  width: 28%;
	padding: 1%;
	height: 350px;
	float: left;
	font-size: 24px;
	background-color: #303030;
	color: rgb(179, 153, 93);
}

#menu ul {
  list-style-type: none;
}

#menu li {
  margin-bottom: 10px;
}

#menu a {
  background-color: #303030;
	border: thin solid rgb(179, 153, 93);
	display: block;
	width: 80%;
	text-align: center;
}

#menu a:link {
  color: rgb(179,153, 93);
}

#menu a:visited {
  color: white;
}

#menu a:hover {
  color: rgb(179,153,93);
	background-color: #414141;
}

#content {
  width: 68%;
  margin-left: -1%; /*fix for compatibility view*/
	padding: 1%;
	height: 350px;
	float: right;
	background-color: white;
	overflow-Y: scroll;
}

#footer {
  padding: 1%;
  clear: both;
	height: 50px;
	background-color: #303030;
	color: rgb(179, 153, 93);
}